@import 'tailwindcss';

@source '../**/*.blade.php';
@source '../**/*.js';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans: 'Hanken Grotesk', ui-sans-serif, system-ui, sans-serif;
    --color-black: #060606;
    --text-2xs : 10px;
}
